$red-lighten: #e57373;
$red: #f44336;
$red-darken: #d32f2f;
$blue-lighten: #64b5f6;
$blue: #2196f3;
$blue-darken: #1976d2;
$gray-lighten: #90a4ae;
$gray: #607d8b;
$gray-darken: #455a64;

$light-gray: #eceff1;
$dark-gray: #263238;

$fullWidth: 100%;
$controlsWidth: 264px;
$tablet: 768px;
$mobile: 620px;